@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .login-form {
      width: 100% !important;
    }
  }
