<div class="container">
  <mat-card-title>Add User</mat-card-title>
  <form class="form" [formGroup]="addUserForm" (ngSubmit)="onsubmit()">
    <div fxLayout="row" class="form_subtitle" fxLayoutAlign="space-between center">
      <div>Personal information</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="form-element">
        <mat-label>Title</mat-label>
        <mat-select formControlName="title" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let oneTitle of titlesArray" [value]="oneTitle.key">
            {{oneTitle.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addUserForm.controls.title.hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="lastName" placeholder="Sirname" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.lastName.hasError('required')">
          Sirname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="firstName" placeholder="First Name" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.firstName.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="form-element">
        <input matInput formControlName="middleName" placeholder="Middle Name" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.middleName.hasError('required')">
          Middle Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="dob" [matDatepicker]="picker3" placeholder="Date of birth"
          [errorStateMatcher]="matcher">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-error *ngIf="addUserForm.controls.dob.hasError('required')">
          Date of birth is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let gender of genderArray" [value]="gender.key">
            {{gender.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addUserForm.controls.gender.hasError('required')">
          Gender is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" class="form_subtitle" fxLayoutAlign="space-between center">
      <div>Login Credentials</div>
    </div>
    <div fxLayout="row">
      <mat-form-field class="form-element">
        <input autocomplete="new-password" matInput formControlName="userName" placeholder="Username"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.userName.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input autocomplete="new-password" type="password" matInput formControlName="password" placeholder="Password"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password"
          [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.confirmPassword.hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" class="form_subtitle" fxLayoutAlign="space-between center">
      <div>Address & Contact Information</div>
    </div>
    <div fxLayout="row">
      <mat-form-field class="form-element">
        <input matInput formControlName="addressLine1" placeholder="Address line 1" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.addressLine1.hasError('required')">
          Address line 1 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="addressLine2" placeholder="Address line 2" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.addressLine2.hasError('required')">
          Address line 2 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="addressLine3" placeholder="Address line 3" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.addressLine3.hasError('required')">
          Address line 3 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="form-element">
        <input matInput formControlName="pinCode" placeholder="Postal code" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.pinCode.hasError('required')">
          Postal code is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="mobileNo" placeholder="Contact mobile telephone" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.mobileNo.hasError('required')">
          Contact mobile telephone is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="phoneNo" placeholder="Contact home telephone" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.phoneNo.hasError('required')">
          Contact home telephone is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="form-element">
        <input matInput formControlName="country" placeholder="Country" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.country.hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="state" placeholder="State" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.state.hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="city" placeholder="City/town" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.city.hasError('required')">
          City/town is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" class="form_subtitle" fxLayoutAlign="space-between center">
      <div>Assign Role to User</div>
    </div>
    <div fxLayout="row">
      <mat-form-field class="form-element">
        <input matInput formControlName="emailAddress" placeholder="Email" [errorStateMatcher]="matcher">
        <mat-error
          *ngIf="addUserForm.controls.emailAddress.hasError('email') && !addUserForm.controls.emailAddress.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="addUserForm.controls.emailAddress.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput formControlName="role" placeholder="Role" [errorStateMatcher]="matcher">
        <mat-error *ngIf="addUserForm.controls.role.hasError('required')">
          Role is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="form-element">
        <mat-radio-group aria-labelledby="roleCheck"  formControlName="role">
          <label id="roleCheck">Pick One</label>
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="addUserForm.controls.role.hasError('required')">
          Role is <strong>required</strong>
        </mat-error>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <div>
        <button type="button" mat-raised-button color="primary">Cancel</button>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary">Create</button>
      </div>
    </div>
  </form>
</div>