<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex [formGroup]="forgotPasswordForm" fxFlex (ngSubmit)="onSubmit()">
            <div class="text-center">
                <h2 class="app-name">Forgot Password</h2>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput formControlName="emailAddress" type="email" [errorStateMatcher]="matcher"
                            placeholder="Email">
                        <mat-error
                            *ngIf="forgotPasswordForm.controls.emailAddress.hasError('email') && !forgotPasswordForm.controls.emailAddress.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="forgotPasswordForm.controls.emailAddress.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100">Submit</button>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex fxLayoutAlign="center end">
                    <a (click)="goHome()" href="javascript:void(0)">Back to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>